.main {
  background: $victoria;
  padding-top: 48px;
  padding-bottom: 96px;

  &__logo {
    display: block;
    margin: 0 auto;

    @include breakpoint(md) {
      display: inline;
    }
  }
}

.banner {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  justify-content: space-between;

  @include breakpoint(lg) {
    flex-direction: row;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: 220px;

    @include breakpoint(md) {
      display: inline;
    }
  }

  &__headline {
    margin-top: 32px;

    @include breakpoint(md) {
      margin-top: 0;
    }
  }

  &__title {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 42px;
    text-transform: uppercase;

    & span{
      display: block;
    }
  }

  &__hashtag {
    text-transform: uppercase;
    font-family: "Futura Light";
    display: block;
    letter-spacing: 2px;
  }
}
