.main {
  background: $victoria;
  padding-top: 48px;
  padding-bottom: 96px;

  &__logo {
    display: block;
    margin: 0 auto;

    @include breakpoint(md) {
      display: inline;
    }
  }
}

.banner {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  justify-content: space-between;

  @include breakpoint(lg) {
    flex-direction: row;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: 220px;

    @include breakpoint(md) {
      display: inline;
    }
  }

  &__headline {
    margin-top: 32px;

    @include breakpoint(md) {
      margin-top: 0;
    }
  }

  &__title {
    & h1 {
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 42px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      margin: 5px 0;
    }

    & span{
      display: block;
    }

    &::before{
      content: '';
      background: url('../img/curly_bracket_red.png') center/contain no-repeat;
      display: inline-block;
      height: 100px;
      width: 45px;
    }

    &::after{
      content: '';
      background: url('../img/curly_bracket_red.png') center/contain no-repeat;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      display: inline-block;
      height: 100px;
      width: 45px;
    }
  }

  &__join-us {
    font-size: 16px;
    margin-bottom: 8px;
    opacity: 0.9;
    padding-left: 3.5em;
  }
  
  &__hashtag {
    display: block;
    font-family: "Futura Light";
    letter-spacing: 2px;
    margin: 0 0 48px;
    text-transform: uppercase;
  }
}