.carousel {
  align-items: center;
  display: flex !important; //sobrescreve o Slick
  max-width: 500px;
  
  @include breakpoint(lg) {
    max-width: 650px;
  }
}

.carousel-item {
  text-align: center;
  
  .testimonial {
    font-family: "Futura Light";
    line-height: 21px;
    
    @include breakpoint(sm) {
      margin: 0 auto;
      max-width: 370px;
    }
  }

  .author {
    color: $gold-tips;
  }
}