.carousel {
  align-items: center;
  display: flex !important; //sobrescreve o Slick
  max-width: 500px;
  
  @include breakpoint(lg) {
    max-width: 650px;
  }

  &__prev,
  &__next {
    border: 0;
    background: transparent;
    background-image: url('../img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: block;
    height: 20px;
  }

  &__prev {
    transform: rotate(180deg);
  }
}

.carousel-item {
  text-align: center;
  
  .testimonial {
    font-family: "Futura Light";
    line-height: 21px;
    
    @include breakpoint(sm) {
      margin: 0 auto;
      max-width: 370px;
    }
  }

  .author {
    color: $gold-tips;
  }
}