.carousel-item {
  text-align: center;
  
  .testimonial {
    font-family: "Futura Light";
    line-height: 21px;
    
    @include breakpoint(sm) {
      margin: 0 auto;
      max-width: 370px;
    }
  }

  .author {
    color: $gold-tips;
  }
}