.challenge {
  padding-top: 73px;
  padding-bottom: 85px;

  &__title {
    @extend %title;
    color: $burnt-sienna;
  }

  &__text {
    @extend %text;
    color: $downriver;
    font-family: "Futura Book";
    
    @include breakpoint(md) {
      width: 80%;
    }

    a {
      color: $burnt-sienna;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__wrapper {
    &:nth-child(1) {
      flex: 2;
    }

    &:nth-child(2) {
      align-self: center;
      flex: 1;
      margin-top: 32px;

      @include breakpoint(md) {
        margin-top: 0;
      }
    }
  }

  &__image {
    height: 216px;
  }

  &__report-button {
    @include btn-style($white, $burnt-sienna, 1px solid $mercury);
    padding: 10px 55px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Futura Book";
    display: inline-block;
    margin: 20px 0;
  }
}
