.challenge {
  padding-top: 73px;
  padding-bottom: 85px;

  &__title {
    @extend %title;

    color: $burnt-sienna;
  }

  &__text {
    @extend %text;

    color: $downriver;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    height: 216px;
    width: 216px;
  }

  &__button {
    @include btn-style($white, $burnt-sienna, 1px solid $mercury);
  }
}
