body * {
  font-family: 'Futura Book', sans-serif ;
}

body {
  margin: 0;
  padding: 0;
}

.twitter-button {
  @include btn-style($white, $cerulean, 1px solid $mercury);
  background-image: url('../img/icons/icn-twitter.svg');
  background-position: left 22px top 10px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding-left: 48px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  
  @include breakpoint(md) {
    width: auto;
  }

  &:hover {
    background-image: url('../img/icons/icn-twitter-white.svg');
    background-position: left 22px top 15px;
    background-repeat: no-repeat;
  }
}

.facebook-button {
  @include btn-style($white, $chambray, 1px solid $mercury);
  background-image: url('../img/icons/icn-facebook.svg');
  background-position: left 28px top 9px;;
  background-repeat: no-repeat;
  font-size: 18px;
  margin-bottom: 24px;
  padding-left: 44px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include breakpoint(md) {
    margin-bottom: 0;
    margin-right: 16px;
    width: auto;
    text-decoration: none;
  }


  &:hover {
    background-image: url('../img/icons/icn-facebook-white.svg');
    background-position: left 28px top 12px;;
    background-repeat: no-repeat;
  }

  img {
    vertical-align: middle;
  }
}

.uppercase {
  text-transform: uppercase;
}
