body * {
  font-family: 'Futura', sans-serif ;
}

.twitter-button {
  @include btn-style($white, $cerulean, 1px solid $mercury);
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%;
  
  @include breakpoint(sm) {
    margin-bottom: 0;
    margin-right: 16px;
    width: auto;
  }
}

.facebook-button {
  @include btn-style($white, $chambray, 1px solid $mercury);
  font-size: 18px;
  width: 100%;

  @include breakpoint(sm) {
    width: auto;
  }
}

.uppercase {
  text-transform: uppercase;
}
