.intro {
  padding-bottom: 48px;
  padding-top: 56px;

  &__content {
    display: flex;
    justify-content: center;
  }

  &__image {
    &:nth-child(1) {
      margin-right: 24px;
    }

    &:nth-child(3) {
      margin-left: 24px;
      transform: rotate(180deg);
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    
    .twitter {
      @include btn-style($white, $chambray, 1px solid $mercury);
      margin-right: 16px;
    }
    
    .facebook {
      @include btn-style($white, $cerulean, 1px solid $mercury);
    }
  }
}