.intro {
  padding-bottom: 48px;
  padding-top: 56px;

  &__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 680px;

    @include breakpoint(md) {
      height: 280px;

      &::before {
        content: '';
        background: url('../img/curly-bracket.png') center no-repeat;
        height: 100%;
        width: 200px;

      }
      &::after {
        content: '';
        background: url('../img/curly-bracket.png') center no-repeat;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 100%;
        width: 200px;
      }
    }
  }

  &__text {
    color: $tundora;
    font-size: 16px;
    margin: 0 15px;
    line-height: 20px;
    opacity: 0.9;

    & p {
      font-family: "Futura Light";
    }
  }

  &__image {
    display: none;

    @include breakpoint(md) {
      align-self: center;
      display: block;
    }

    &:nth-child(1) {
      margin-right: 24px;
    }

    &:nth-child(3) {
      margin-left: 24px;
      transform: rotate(180deg);
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: center;
    }
  }
}
