.numbers {
  background: $cupid;
  padding: 42px 0;

  .header {
    display: flex;
    align-items: stretch;
  
    &__item {
      &:nth-child(1) {        
        @include breakpoint(md) {
          border-right: 3px solid $victoria;
          flex-grow: 1;
          flex-basis: 0;
          margin-right: 32px;
          padding-right: 32px;
        }
      }
  
      &:nth-child(2) {
        display: none;

        @include breakpoint(md) {
          padding: 20px 0;
          display: block;
          flex-grow: 1;
          flex-basis: 0;
        }
      }
    }
    
    &__title {
      @extend %title;
      color: $victoria;
      margin-bottom: 0;      

      @include breakpoint(md) {
        text-align: right;
      }

      &--highlight {
        font-family: "Futura Bold Italic";
        font-style: italic;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }

    &__text {
      @extend %text;
      color: $white;
      font-family: "Futura Book";
      margin: 8px 0 0;
      
      @include breakpoint(md) {
        text-align: right;
      }
    }
  
    &__subtitle {
      @extend %title;
      color: $victoria;
      margin-bottom: 0;
      line-height: 1.5em;

      &--highlight {
        color: $white;
        display: block;
        font-weight: 300;
        font-family: "Futura Book";
      }
    }
  
    &__hashtag {
      color: $white;
      text-transform: uppercase;
      font-family: "Futura Light";
      display: block;
      letter-spacing: 2px;
    }
  }
  
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
  
  .info {
    justify-content: center;
    background: $white;
    color: #4A4A4A;
    font-family: "Futura Book";
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 260px;
    padding: 14px;
    text-align: center;
    text-decoration: none;

    & span{
      &:first-child {
        font-family: "Futura Book";
        text-transform: uppercase;
      }
    }

    &:hover {
      background: $victoria;
      color: $white;

      .info__highlight {
        color: $white;
      }
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &__text {

      color: inherit;



    }

    &__highlight {
      color: $victoria;
      display: block;
      font-size: 48px;
      font-family: "Futura Bold Italic";
      font-weight: 600;
    }
  }
}