.numbers {
  background: $light-orange;
  padding: 40px 0;

  &__title {
    @extend %title;
    color: $orange;
    text-align: center;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: $dark-blue;
  }

  &__button {
    @include btn-style($orange, $white);
    display: block;
    margin: 40px auto 0;
  }
}