.support {
  background: $wild-sand;
  padding-top: 73px;
  padding-bottom: 85px;

  &__title {
    @extend %title;

    color: #7CA0D4;
  }

  &__text {
    @extend %text;

    color: $downriver;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include btn-style($danube, $white);
  }
}
