.support {
  padding: 40px 0 72px;

  &__title {
    @extend %title;
    color: $victoria;
    text-align: center;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    @include breakpoint(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__logo {
    margin: 36px 24px 24px 0;
    max-height: 60px;
  }
}