.testimonials {
  background: $light-gray;
  padding: 40px 0;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %title;

    &:nth-of-type(1) {
      align-items: flex-start;
    }

    &:nth-of-type(2) {
      align-items: flex-end;
    }

    &--blue {
      color: $downriver;
    }

    &--gold {
      color: $gold-tips;
    }
  }
}