.testimonials {
  padding: 40px 0;

  &__flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__title {
    @extend %title;

    &:nth-of-type(1) {
      text-align: right;
      
      @include breakpoint(md) {
        align-self: flex-start;
      }
    }

    &:nth-of-type(2) {
      
      @include breakpoint(md) {
        align-self: flex-end;
      }
    }

    &--blue {
      color: $downriver;
    }

    &--gold {
      color: $gold-tips;
    }

    br {
      display: none;

      @include breakpoint(md) {
        display: block;
      }
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__hashtag {
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
  }
}