$white: #ffffff;
$gray: #a9a8a9;
$orange: #F0604B;

$light-gray: #ededee;
$light-blue: #33CBCB;
$light-orange: #FBCF8C;

$dark-gray: #4b4b4b;
$dark-blue: #0A2C47;

%title {
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
}