$white: #ffffff;
$gray: #a9a8a9;
$orange: #F0604B;
$purple: #5E4698;

$light-gray: #ededee;
$light-blue: #33CBCB;
$light-orange: #FBCF8C;

$dark-gray: #4b4b4b;

$wild-sand: #F6F6F6;

$danube: #7CA0D4;
$downriver: #0A2C47;

$gold-tips: #EAC419;

%title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  text-transform: uppercase;
}

%text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

@mixin btn-style($bg, $color) {
  background: $bg;
  border: 0;
  border-radius: 32px;
  color: $color;
  padding: 10px 22px;
}
