.numbers .header__title, .numbers .header__subtitle, .testimonials__title, .how__title, .challenge__title, .accomplishment__title, .support__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  text-transform: uppercase; }

.numbers .header__text, .how__text, .challenge__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; }

@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-MediumOblique.otf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-ExtraBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Condensed.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-BookOblique.otf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Heavy.otf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondExtraBoldObl.otf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedExtraBd.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-BoldOblique.otf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-HeavyOblique.otf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-ExtraBoldOblique.otf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-LightOblique.otf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedOblique.otf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedBoldObl.otf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-CondensedLightObl.otf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Futura Std';
  src: url("../../font/FuturaStd-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

body * {
  font-family: "Futura", sans-serif; }

.twitter-button {
  background: #ffffff;
  border: 1px solid #E3E3E3;
  border-radius: 32px;
  color: #00ACED;
  padding: 10px 22px;
  font-size: 18px;
  width: 100%; }
  .twitter-button:hover {
    background: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    .twitter-button {
      width: auto; } }

.facebook-button {
  background: #ffffff;
  border: 1px solid #E3E3E3;
  border-radius: 32px;
  color: #3B5998;
  padding: 10px 22px;
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%; }
  .facebook-button:hover {
    background: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    .facebook-button {
      margin-bottom: 0;
      margin-right: 16px;
      width: auto; } }
  .facebook-button img {
    vertical-align: middle; }

.uppercase {
  text-transform: uppercase; }

.main {
  background: #5E4698;
  padding-top: 48px;
  padding-bottom: 96px; }
  .main__logo {
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .main__logo {
        display: inline; } }

.banner {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  justify-content: space-between; }
  @media (min-width: 992px) {
    .banner {
      flex-direction: row; } }
  .banner__image {
    display: block;
    margin: 0 auto;
    max-height: 220px; }
    @media (min-width: 768px) {
      .banner__image {
        display: inline; } }
  .banner__headline {
    margin-top: 32px; }
    @media (min-width: 768px) {
      .banner__headline {
        margin-top: 0; } }
  .banner__title {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 42px;
    text-transform: uppercase; }
  .banner__hashtag {
    text-transform: uppercase;
    font-weight: 100; }

.intro {
  padding-bottom: 48px;
  padding-top: 56px; }
  .intro__content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 680px; }
  .intro__text {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.9; }
  .intro__image {
    display: none; }
    @media (min-width: 768px) {
      .intro__image {
        align-self: center;
        display: block; } }
    .intro__image:nth-child(1) {
      margin-right: 24px; }
    .intro__image:nth-child(3) {
      margin-left: 24px;
      transform: rotate(180deg); }
  .intro__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 24px; }
    @media (min-width: 768px) {
      .intro__buttons {
        flex-direction: row;
        justify-content: center; } }

.numbers {
  background: #F9BBC6;
  padding: 42px 0; }
  .numbers .header {
    display: flex;
    align-items: stretch; }
    @media (min-width: 768px) {
      .numbers .header__item:nth-child(1) {
        border-right: 3px solid #5E4698;
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 32px;
        padding-right: 32px; } }
    .numbers .header__item:nth-child(2) {
      display: none; }
      @media (min-width: 768px) {
        .numbers .header__item:nth-child(2) {
          align-self: center;
          display: block;
          flex-grow: 1;
          flex-basis: 0; } }
    .numbers .header__title {
      color: #5E4698;
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .numbers .header__title {
          text-align: right; } }
    .numbers .header__text {
      color: #ffffff;
      font-weight: 300;
      margin: 8px 0 0; }
      @media (min-width: 768px) {
        .numbers .header__text {
          text-align: right; } }
    .numbers .header__subtitle {
      color: #5E4698;
      margin-bottom: 0; }
    .numbers .header__hashtag {
      color: #ffffff;
      margin: 0; }

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px; }
  .data .info {
    align-items: center;
    background: #ffffff;
    color: #4A4A4A;
    display: flex;
    flex: 1;
    min-height: 260px;
    padding: 14px; }
    .data .info:hover {
      background: #5E4698;
      color: #ffffff; }
      .data .info:hover .info__highlight {
        color: #ffffff; }
    .data .info:not(:last-child) {
      margin-right: 8px; }
    .data .info__text {
      text-align: center; }
    .data .info__highlight {
      color: #5E4698;
      display: block;
      font-size: 48px;
      font-style: italic;
      font-weight: 600; }

.testimonials {
  padding: 40px 0; }
  .testimonials__flex {
    display: flex;
    justify-content: space-between; }
  .testimonials__title:nth-of-type(1) {
    align-items: flex-start;
    text-align: right; }
  .testimonials__title:nth-of-type(2) {
    align-items: flex-end; }
  .testimonials__title--blue {
    color: #0A2C47; }
  .testimonials__title--gold {
    color: #EAC419; }
  .testimonials__image {
    display: block;
    margin: 0 auto; }
  .testimonials__hashtag {
    font-style: italic;
    margin-bottom: 0;
    text-align: center; }

.how {
  background: #F6F6F6;
  padding: 48px 0 56px; }
  .how__title {
    color: #7CA0D4; }
    .how__title--highlight {
      display: block;
      font-weight: 600;
      font-style: italic; }
  .how__text {
    max-width: 550px;
    margin: 48px auto 0;
    text-align: center; }

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .steps {
      flex-direction: row; } }

.step {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  min-height: 136px;
  padding: 8px; }
  @media (min-width: 768px) {
    .step {
      flex-direction: column;
      flex: 1;
      padding: 16px 48px;
      margin-top: 0; } }
  @media (min-width: 768px) {
    .step:not(:last-child) {
      margin-right: 8px; } }
  .step__image {
    display: block; }
    .step__image--computer {
      max-height: 100px;
      margin-right: 16px;
      max-width: 100px; }
    .step__image--at {
      max-height: 100px;
      margin-right: 32px;
      max-width: 84px; }
    .step__image--hands {
      max-height: 110px;
      margin-right: 8px;
      max-width: 110px; }
    @media (min-width: 992px) {
      .step__image--computer {
        max-height: 120px;
        margin-bottom: 16px;
        margin-right: 0;
        max-width: 120px; }
      .step__image--at {
        max-height: 120px;
        margin-bottom: 24px;
        margin-right: 0;
        max-width: 100px; }
      .step__image--hands {
        max-height: 200px;
        margin-bottom: 4px;
        max-width: 200px; } }
  .step__text {
    margin: 0; }

.challenge {
  padding-top: 73px;
  padding-bottom: 85px; }
  .challenge__title {
    color: #F0604B; }
  .challenge__text {
    color: #0A2C47; }
  .challenge__flex {
    display: flex;
    justify-content: space-between; }
  .challenge__image {
    height: 216px;
    width: 216px; }
  .challenge__button {
    background: #ffffff;
    border: 1px solid #E3E3E3;
    border-radius: 32px;
    color: #F0604B;
    padding: 10px 22px; }
    .challenge__button:hover {
      background: rgba(255, 255, 255, 0.7); }

.accomplishment {
  background: #F6F6F6;
  padding: 56px 0; }
  .accomplishment__title {
    color: #2F758E;
    text-align: center; }
  .accomplishment__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 32px; }
  .accomplishment .plus {
    color: #2F758E;
    font-size: 24px;
    font-weight: 300;
    margin: 0 24px; }

.support {
  padding: 40px 0 72px; }
  .support__title {
    color: #5E4698;
    text-align: center; }
  .support__image {
    display: block;
    margin: 32px auto 0; }
  .support__button {
    background: #2F758E;
    border: 0;
    border-radius: 32px;
    color: #ffffff;
    padding: 10px 22px;
    display: block;
    margin: 60px auto 0; }
    .support__button:hover {
      background: rgba(47, 117, 142, 0.7); }

.footer {
  background: #5E4698;
  color: #ffffff;
  padding: 40px 0; }
  .footer__logo {
    display: block;
    margin: 0 auto; }
  .footer__text {
    margin: 24px auto 0;
    max-width: 560px;
    text-align: center; }
  .footer__partner {
    text-align: center;
    margin-top: 8px; }
    .footer__partner a {
      color: #ffffff; }
  .footer__follow {
    color: #F0604B;
    font-size: 16px;
    font-weight: 300;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase; }
  .footer__rule {
    margin-top: 32px;
    opacity: 0.1; }
  .footer__copyright {
    margin-top: 32px;
    text-align: center; }

.social-media {
  display: flex;
  justify-content: space-around;
  margin: 24px auto 0;
  max-width: 300px; }

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 32px auto 0;
  max-width: 500px; }
  .navigation a {
    color: #ffffff;
    text-decoration: none; }
    .navigation a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
