.accomplishment {
  padding: 56px 0;

  &__title {
    @extend %title;
    color: $victoria;
    text-align: center;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  .plus {
    color: $calypso;
    font-size: 24px;
    font-weight: 300;
    margin: 0 24px;
  }
}
