.events-section {
  padding: 100px 0;
  background: $wild-sand;

  h3{
    @extend %title;
    color: $calypso;
    text-align: center;
  }

  &__calendar{
    width: 80%;

    @include breakpoint(md) {
    margin:0 auto;
    width: 50%;
    }
  }
  .fc-header-toolbar {
    margin-left: 1em;
  }
}
