$white: #ffffff;
$mercury: #E3E3E3;
$wild-sand: #F6F6F6;
$tundora: #4A4A4A;
$cupid: #F9BBC6;
$gold-tips: #EAC419;
$california: #FC9702;
$burnt-sienna: #F0604B;
$victoria: #5E4698;
$danube: #7CA0D4;
$calypso: #2F758E;
$downriver: #0A2C47;
$chambray: #3B5998;
$cerulean: #00ACED;

%title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  text-transform: uppercase;
}

%text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

@mixin btn-style($bg, $color, $border: 0) {
  background: $bg;
  border: $border;
  border-radius: 32px;
  color: $color;
  padding: 10px 22px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color;
    border: 1px solid $color;
    color: $bg;
    transition: all 0.2s ease-in-out;
  }
}
